.sidebar {
    height: calc(100% - 200px);
    width: 500px;
    position: fixed;
    z-index: 1050;
    top: 200px;
    left: 0;
    border-top: 1px solid black;
    border-right: 1px solid black;
    padding-top: 0.5rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}


.sidebar__formfields {
    overflow-x: hidden;
    overflow-y: scroll;
    flex-shrink: 1;
}

.sidebar__buttons {
    border-top: 1px solid black;
    padding: 0.5rem;
}

.sidebar__toggler {
    position: fixed;
    left: 0;
    top: 400px;
    transform-origin: left bottom;
    transform: rotate(90deg);
}

.btn-hover {
    float: right;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 1100;
}

.red-text {
    color: red;
}

/* Style for toast messages */
#toast-container {
    position: fixed;
    left: 50%;
    bottom: 30px;
}

#toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    z-index: 1;
    margin-bottom: 5px;

}
#toast.show {
    visibility: visible; /* Show the snackbar */
    animation: fadein 0.5s, fadeout 0.5s 5s;
}

#toast.error {
    background-color: #633;
}

/* Animations to fade the snackbar in and out */
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.advanced-settings-btn {
    text-align: right;
    padding: 10px;
}

.check-list {
    width: 90%;
    vertical-align: middle;
    margin-left: 10px;
}